[Unit]
Description=Manages the {{ project_name }} docker-compose systemd services

[Service]
Type=oneshot
WorkingDirectory={{ project_path }}
SyslogIdentifier={{ project_name }}
RemainAfterExit=yes

{% if docker_registry_url != "" or docker_username != "" %}
Environment="DOCKER_CONFIG={{ project_path }}/.docker/"
{% endif %}

{% if delay_service_start_secs != "" and delay_service_start_secs | int > 0 %}
ExecStartPre=/bin/sleep {{ delay_service_start_secs }}
{% endif %}
ExecStartPre=-/usr/local/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans

ExecStop=/usr/local/bin/docker-compose down

ExecReload=/usr/local/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/local/bin/docker-compose up -d --remove-orphans

[Install]
WantedBy=multi-user.target
