[Unit]
Description=Manages the {{ project_name }} docker-compose systemd services

[Service]
WorkingDirectory={{ project_path }}
Type=oneshot
RemainAfterExit=yes

{{ if docker_registry_url != "" or docker_username != "" }}
Environment="{{ project_path }}/.docker/"
{{ endif }}

ExecStartPre=-/usr/local/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans

ExecStop=/usr/local/bin/docker-compose down

ExecReload=/usr/local/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/local/bin/docker-compose up -d --remove-orphans

[Install]
WantedBy=multi-user.target
